
<body>
   <div class="padre" style="margin-top: 100px;">
        <center>
            <div>
                <img src="img/nutryarchery.ico" alt="Logo nutriarchery" style="width: 50px;">
                <h5>BIENVENIDO A NUTRIARCHERY</h5>
            </div>
       
            <form action="controller/usuario.php" method="post" style="width: 300px;">
                <input type="text" name="usu" placeholder="Usuario" style="margin-bottom: 13px;" class="form-control" required>
                <input type="password" name="pas" placeholder="Passworld" style="margin-bottom: 10px;" class="form-control" required>
                <p><a href="#">Registrese aqui </a><br>
                <a href="controller/chdcon.php">Olvido su contraseña? </a></p><br><br>
                <input type="submit" class="btn btn-success">
            </form> 
        </center>
    </div> 
</body>
