<div class="modal fade" id="chdpas" tabindex="-1" aria-hidden="true" aria-labelledby="title">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title"> Cambie su contraseña </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <form action="controller/chdpas.php" method="post">
                    <input type="text" name="usu" readonly="readonly" placeholder="Usuario" style="margin-bottom: 13px;" class="form-control" required>
                <input type="password" name="pas" placeholder="Nueva contraseña" style="margin-bottom: 10px;" class="form-control" required>
            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>