<body>
<div style="margin-top: 100px;">
    <center>
        <div>
            <img src="view/img/logo.png" alt="Logo " style="width: 50px;">
            <h5>BIENVENIDO Al LOGIN</h5>
        </div>
   
        <form action="controller/usuario.php" method="post" style="width: 300px;">
            <input type="text" name="usu" placeholder="Usuario" style="margin-bottom: 13px;" class="form-control" required>
            <input type="password" name="pas" placeholder="Passworld" style="margin-bottom: 10px;" class="form-control" required>
            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reg">Registrate</a>
            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chdpas">Olvido su contraseña? </a><br>
            <input type="submit" class="btn btn-success" style="margin: 0.9rem;">
        </form> 
    </center>
</div> 